@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.contenedor{
    box-shadow: -1px 1px 5px 0px #e0e0e0;
    border-radius: 10px;
    background-color: $color-blanco;
    padding: 3%;
    @include Asmall(){
        margin: 4% 4%;
        padding: 4% 0;
    }
    .contenido{
        display: grid;
        grid-template-columns: auto 60%;
        height: 100%;
        @include Asmall(){
            grid-template-columns: auto; 
        }
        
        .mensaje{
            grid-column: 1;
            grid-row: 1;
            margin-top: 10%;
            padding: 0 10%;
            .msjError{
                color: $color-secundario;
                font-size: 40px;
                font-weight: 700;
            }
            .detalles{
                color: $color-grisDos;
                font-size: 12px;
            }
        }
        .imagen{
            align-self: center;
            justify-self: center;
            text-align: center;
            img{
                width: 80%;
            }
        }
    }
}