@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.contenido{
    display: grid;
    /* padding: 14% 10%; */
    @include Asmall(){
        padding: 4%;
    }
    .respuesta{
        align-self: center;
        justify-self: center;
        text-align: center;
        
        img{
            padding: 5%;
        }
        .mensaje{
            color: $color-aprobado;
            font-weight: 700;
            padding: 10% 0 5% 0;
        }
        .mensajeNeg{
            color: $color-alert;
            font-weight: 700;
            padding: 10% 0 5% 0;
        }
        .comentario{
            font-size: 12px;
            padding: 2.6% 0;
        } 
    }
    
}

#negado {
    img{
        width: 50%;
    }
}
#aprobado{
    img{
        width: 100%;
        /* padding: 130px 130px 0px 130px; */
        @include Asmall(){
            padding: 40px 20px 0;
        }
        @include smallTablet(){
            padding: 40px 20px 0;
        }
    }
}

img.negado{
    width: 35% !important;
    padding: 10px;
}
