@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.contenedor{    
    background-color: $color-blanco-transparente;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    mat-spinner{
        align-self: center !important;
        justify-self: center;
    }
}
