@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.contenido{
    display: grid;
    grid-template-columns: 7% auto 7%;
    background-color: $color-principal;
    height: 10vh;
    @include Asmall(){
        grid-template-columns: auto;
        grid-template-columns: 5% auto 5%;
        position: fixed;
        width: 100%;
        z-index: 4; 
    }
    img{
        grid-column: 2;
        /* alineación vertical */
        align-self: center;
        /* alineación horizontal */
        justify-self: left;
    }
}