/* General */
$general-margen: 10%;
$radio-borde: 10px;
$margen-interna: 5%;
$padding-interno-input-mat: 1.5%;

/* Colores */
$color-negro: #000000;
$color-blanco: #ffffff;
$color-principal: #FFF159;
$color-secundario: #378FFD;
$color-grisUno: #F7F8FB;
$color-grisDos: #A8ABB0;
$color-grisTres: #F4F5F8;
$color-blanco-transparente: #f7f8fbc7;
$color-radio-checked: #202A79;
$color-borde-inputs: #919191;
$color-alert: #f44336;
$color-disabled-button: #E4E4E4;
$color-checked: #434343;
$color-aprobado: #419528;

/* Responsive */
$Asmall: 575.98px;
$small: 576px;
$Atablet: 767.98px;
$tablet: 767.98px;
$Alaptop: 991.98px;
$laptop: 992px;
$Adesktop: 1199.98px;
$desktop: 1200px;
$Afull: 1919.98px;
$full: 1920px;

/* maxwidth */
$mWtablet: 540px;
$mWlaptop: 720px;
$mWdesktop: 960px;
$mWfull: 1140px;
